<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>
    Order <%= @item.order.id %> declined. It will be returned product <%= @item.order.product_id %> in quantity <%= @item.quantity %>!
    </h1>
  </body>
</html>
